* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  .background {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
    .login {
      width: 400px;
      height: 400px;
      background-color: white;
      display: inline-block;
      position: absolute;

      .text-login {
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 30px;
        margin-top: 40px;
        font-family: "fire-sans";
        font-size: 50px;
      }

      .form {
        .parent-input {
          position: relative;
          gap: 10px;
          .input {
            width: 300px;
            height: 50px;
            padding: 10px;
            border: 2px solid silver;
            &:hover {
              border: 2px solid lightblue;
              box-shadow: 5px 5px 12px lightblue;
            }
          }
          .input-password {
            width: 300px;
            height: 50px;
            padding: 10px;
            border: 2px solid silver;
            &:hover {
              border: 2px solid lightblue;
              box-shadow: 5px 5px 12px lightblue;
            }
          }
          .div-login {
            width: 300px;
            height: 50px;
            background-color: red;
          }
          .aseom {
            position: absolute;
            left: 310px;
            transform: translateY(5%);
            font-size: 20px;
          }
        }
      }

      div {
        margin: 5px;
        .text-acount {
          text-transform: capitalize;
          display: inline;
        }
        .text-login {
          color: blue;
        }
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .pp {
        position: relative;
        left: 0px;
        top: 15px;
        text-align: center;
        transform: translateY(-100%);
        font-family: "babes-font";
        font-size: 20px;
      }
    }
  }
}
@font-face {
  font-family: "fire-sans";
  src: url(../font/Jost/Jost-VariableFont_wght.ttf);
}
@font-face {
  font-family: "babes-font";
  src: url(../font/Bebas_Neue/BebasNeue-Regular.ttf);
}
